@model IEnumerable<Ame.WorkflowHTML5.Models.Chart>

@{
    ViewBag.Title = "ChartActivity";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ChartActivity</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            ChartName
        </th>
        <th>
            ChartType
        </th>
        <th>
            ChartDescription
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ChartName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChartType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChartDescription)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
