<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <!-- Common Kendo UI Web CSS -->
    <link href="@Url.Content("~/Scripts/kendo_ui/styles/kendo.common.min.css")" rel="stylesheet" type="text/css" />
    <!-- Default Kendo UI Web theme CSS -->
    <link href="@Url.Content("~/Scripts/kendo_ui/styles/kendo.metro.min.css")" rel="stylesheet" type="text/css" />
    <!-- jQuery JavaScript -->
    <script src="@Url.Content("~/Scripts/kendo_ui/js/jquery.min.js")" type="text/javascript"></script>
    <!-- Kendo UI Web combined JavaScript -->
    <script src="@Url.Content("~/Scripts/kendo_ui/js/kendo.web.min.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/gumby.css")" rel="stylesheet" type="text/css" />

    <!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>-->
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js" type="text/javascript"></script>

    <script src="@Url.Content("~/Scripts/modernizr-1.7.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.jsPlumb-1.4.1-all-min.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Scripts/perimeterAnchorsDemo-jquery.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/demo-helper-jquery.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jsPlumb-save-functions.js")" type="text/javascript"></script>

</head>
<body onload="initPageObjects();">
    <div class="page">
        <header id="title">
            <div class="masthead"><div class="wrapper"><a href="../Home/Index"><img src="@Url.Content("~/Content/growth-curve.png")" class="left"></a></div></div>
        </header>
        <!--Pattern HTML-->
        <section id="crumb-path" class="pattern">
            <ul class="crumbs">
                <li>@Html.ActionLink("Pre Relational List", "PreRelationalList", "Home")</li>
                <li>@Html.ActionLink("Relational Map", "RelationalMap", "Home")</li>
                <li>@Html.ActionLink("Swimlane Map", "SwimlaneChart", "Home")</li>
                <li class="last">@Html.ActionLink("Flowchart", "Flowchart", "Home")</li>
            </ul>
        </section>
        <!--End Pattern HTML-->
        <section id="main">
            @RenderBody()
        </section>
        <div class="footer">
            &copy; Growth Curve Institute LLC. Proprietary information. Unauthorized distribution
            prohibited. All rights reserved.
            <p>
                <a target="_self" href="http://www.sustainablegrowthbusiness.com/login">Academy Portal
                    Home</a> | <a target="_self" href="http://www.sustainablebusinessgrowth.com/about-gci/contact-us">
                        Contact Us</a>
            </p>
            <br />
        </div>
    </div>
</body>




</html>

<script type="text/javascript">
    /*$(document).ready(function () {

        $("#treeview").kendoTreeView();
    });*/
</script>

<style>
    .crumbs
    {
        padding: 1em;
    }
    .crumbs li
    {
        display: inline-block;
    }
    .crumbs li:after
    {
        content: '→';
        padding: 0 0.25em 0 0.5em;
        color: #999;
    }
    .crumbs li.last:before, .crumbs li.last:after
    {
        content: '';
    }
</style>
